<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6ImljZSB0YWciLCJw
		YWNrYWdlSWRlbnRpdHkiOiJteSBhcHAuc3dpZnRwbSIsInBhY2thZ2VLaW5k
		Ijp7InJvb3QiOnt9fSwicGxhdGZvcm1zIjpbeyJvcHRpb25zIjpbXSwicGxh
		dGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE4LjEifV0sInByb2R1Y3Rz
		IjpbeyJuYW1lIjoiaWNlIHRhZyIsInNldHRpbmdzIjpbeyJkaXNwbGF5VmVy
		c2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEiXX0seyJpT1NB
		cHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJwcmVz
		ZXRDb2xvciI6eyJyYXdWYWx1ZSI6ImJsdWUifX19LCJhcHBJY29uIjp7InBs
		YWNlaG9sZGVyIjp7Imljb24iOnsicmF3VmFsdWUiOiJnYW1lcGFkIn19fSwi
		Y2FwYWJpbGl0aWVzIjpbeyJwdXJwb3NlIjoibWljcm9waG9uZSIsInB1cnBv
		c2VTdHJpbmciOiJSZXF1aXJlZCBmb3IgVm9pY2UgQ2hhdC4ifSx7InB1cnBv
		c2UiOiJzcGVlY2hSZWNvZ25pdGlvbiIsInB1cnBvc2VTdHJpbmciOiJSZXF1
		aXJlZCBmb3Igdm9pY2UgY2hhdCB0byB3b3JrIHdpdGggdm9pY2UgbW9kZXJh
		dGlvbi4ifSx7ImFwcFRyYW5zcG9ydFNlY3VyaXR5Q29uZmlndXJhdGlvbiI6
		eyJleGNlcHRpb25Eb21haW5zIjpbeyJkb21haW5OYW1lIjoiaHR0cHM6XC9c
		L3NpdGVzLmdvb2dsZS5jb21cL3ZpZXdcL2ljZWxhYnMiLCJleGNlcHRpb25B
		bGxvd3NJbnNlY3VyZUhUVFBMb2FkcyI6dHJ1ZSwiaW5jbHVkZXNTdWJkb21h
		aW5zIjp0cnVlfSx7ImRvbWFpbk5hbWUiOiJodHRwczpcL1wvc2l0ZXMuZ29v
		Z2xlLmNvbVwvdmlld1wvaWNlbGFic1wvbW9kcyIsImV4Y2VwdGlvbkFsbG93
		c0luc2VjdXJlSFRUUExvYWRzIjp0cnVlLCJpbmNsdWRlc1N1YmRvbWFpbnMi
		OnRydWV9LHsiZG9tYWluTmFtZSI6Imh0dHBzOlwvXC9zaXRlcy5nb29nbGUu
		Y29tXC92aWV3XC9pY2VsYWJzXC90ZXJtcy1vZi1zZXJ2aWNlIiwiZXhjZXB0
		aW9uQWxsb3dzSW5zZWN1cmVIVFRQTG9hZHMiOnRydWUsImluY2x1ZGVzU3Vi
		ZG9tYWlucyI6dHJ1ZX0seyJkb21haW5OYW1lIjoiaHR0cHM6XC9cL3NpdGVz
		Lmdvb2dsZS5jb21cL3ZpZXdcL2ljZWxhYnNcL3ByaXZhY3ktcG9saWN5Iiwi
		ZXhjZXB0aW9uQWxsb3dzSW5zZWN1cmVIVFRQTG9hZHMiOnRydWUsImluY2x1
		ZGVzU3ViZG9tYWlucyI6dHJ1ZX0seyJkb21haW5OYW1lIjoiaHR0cHM6XC9c
		L3NpdGVzLmdvb2dsZS5jb21cL3ZpZXdcL2ljZWxhYnNcL2ljZS10YWctc3lz
		dGVtLXJlcXVpcmVtZW50cyIsImV4Y2VwdGlvbkFsbG93c0luc2VjdXJlSFRU
		UExvYWRzIjp0cnVlLCJpbmNsdWRlc1N1YmRvbWFpbnMiOnRydWV9LHsiZG9t
		YWluTmFtZSI6Imh0dHBzOlwvXC9mb3Jtcy5nbGVcL2FXVnJEOFNpd3VMcFlI
		VXI4IiwiZXhjZXB0aW9uQWxsb3dzSW5zZWN1cmVIVFRQTG9hZHMiOnRydWUs
		ImluY2x1ZGVzU3ViZG9tYWlucyI6dHJ1ZX0seyJkb21haW5OYW1lIjoiaHR0
		cHM6XC9cL2RvY3MuZ29vZ2xlLmNvbVwvZm9ybXNcL2RcL2VcLzFGQUlwUUxT
		ZHBtU01JX3djVzl1Q3ppVDZGSWFJQmU2eWxNcWo5YVF3T3dqQVE0MmRpajdU
		NFN3XC92aWV3Zm9ybSIsImV4Y2VwdGlvbkFsbG93c0luc2VjdXJlSFRUUExv
		YWRzIjp0cnVlLCJpbmNsdWRlc1N1YmRvbWFpbnMiOnRydWV9LHsiZG9tYWlu
		TmFtZSI6Imh0dHBzOlwvXC9qYWNrd3c1MS5pdGNoLmlvXC9pY2V5Z2FtZSIs
		ImV4Y2VwdGlvbkFsbG93c0luc2VjdXJlSFRUUExvYWRzIjp0cnVlLCJpbmNs
		dWRlc1N1YmRvbWFpbnMiOnRydWV9LHsiZG9tYWluTmFtZSI6Imh0dHBzOlwv
		XC9ncmFidnIucXVlc3RcL2xldmVsc1wvdmlld2VyXC8/bGV2ZWw9MmRhaGZy
		YmlubDgwdm44aDh1NzU0OjE3MjUxMzI4NzIiLCJleGNlcHRpb25BbGxvd3NJ
		bnNlY3VyZUhUVFBMb2FkcyI6dHJ1ZSwiaW5jbHVkZXNTdWJkb21haW5zIjp0
		cnVlfV19LCJwdXJwb3NlIjoiYXBwVHJhbnNwb3J0U2VjdXJpdHkifSx7InB1
		cnBvc2UiOiJvdXRnb2luZ05ldHdvcmtDb25uZWN0aW9ucyJ9XSwic3VwcG9y
		dGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwic3VwcG9ydGVk
		SW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6e319LHsibGFu
		ZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9fSx7InBvcnRy
		YWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNlRmFtaWxpZXMi
		OlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUiXSwidHlw
		ZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsiQXBwTW9k
		dWxlIjp7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoi
		QXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6Ii4iLCJy
		ZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVVcGNv
		bWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxzIn19
		LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn19LCJ0YXJn
		ZXRzIjpbeyJkZXBlbmRlbmNpZXMiOltdLCJleGNsdWRlIjpbXSwibmFtZSI6
		IkFwcE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiIuIiwi
		cmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBj
		b21pbmdGZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9
		fSwidG9vbCI6InN3aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9v
		bHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS45LjAifSwidHJhaXRzIjpbXX0=
		</data>
		<key>manifestHash</key>
		<data>
		CGLgYWUlhsPk93eZK/xmCZfecl9FBeIiZEfrCgx74Nw=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.2.0-dev</string>
	</dict>
</dict>
</plist>
